.launch-card-wrapper {
    display: flex;
    flex-direction: column;
    background: unset;
    align-items: center;
    padding: 20px;
    height: 100%;

    .wrapper {
        display: grid;
        grid-template-columns: 150px minmax(600px, 1000px);
        width: 100%;
        justify-items: flex-end;

        .status {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-self: center;
            font-size: 32px;


            &::after,
            &::before {
                content: "";
                border-left: 2px solid rgb(255, 248, 248);
                height: 90px;
            }
        }

        .launch-card {
            cursor: pointer;

            &.selected {
                transform: translateX(30px);
            }

            &:hover {
                transform: translateX(30px);
            }
        }
    }

}

.launches-page{
    background-color: #000000;
    opacity: 1;
    background-image: linear-gradient(to right, #101010, #101010 20px, #000000 20px, #000000 );
    background-size: 40px 100%;
    flex-grow: 1;
}

.launch-card {
    display: grid;
    grid-template-columns: auto 128px;
    gap: 16px;
    align-items: center;
    padding: 16px;
    height: 200px;
    width: 60%;
    justify-self: flex-start;
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    transition-duration: 0.2s;




    &.success {
        background-color: #000000;
        opacity: 1;
        background: repeating-linear-gradient(45deg, #062200, #062200 20px, #000000 20px, #000000 100px);
    }

    &.failure {
        background-color: #000000;
        opacity: 1;
        background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 65px 65px, linear-gradient(#400000 5.2px, transparent 5.2px) 0 -2.6px, linear-gradient(90deg, #400000 5.2px, #000000 5.2px) -2.6px 0;
        background-size: 130px 130px, 130px 130px, 65px 65px, 65px 65px;
    }

    &.wait {
        background-color: #000000;
        opacity: 1;
        background-image: linear-gradient(rgba(0, 10, 53, 1) 4px, transparent 4px), linear-gradient(to right, rgba(0, 10, 53, 1) 4px, #000000 4px);
        background-size: 80px 80px;
    }

    .info {
        height: 100%;

        * {
            color: rgb(230, 230, 230);
            margin: 0;
        }
    }

    h1,
    h2,
    h3,
    h4, * {
        color: white;
        margin: 0;
    }
}