.rocket-page {
    background-color: #000000;
    opacity: 1;
    background-image: linear-gradient(30deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(150deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(30deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(150deg, #101010 12%, transparent 12.5%, transparent 87%, #101010 87.5%, #101010), linear-gradient(60deg, #10101077 25%, transparent 25.5%, transparent 75%, #10101077 75%, #10101077), linear-gradient(60deg, #10101077 25%, transparent 25.5%, transparent 75%, #10101077 75%, #10101077);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    flex-grow: 1;
}

.rocket-page-cards-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;

    .rocket-page-card {
        border: 1px solid rgb(106, 106, 106);
        border-radius: 2px;


        background-color: #000000;
        opacity: 1;
        background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#222222 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #222222 0.8px, #000000 0.8px) -0.4px 0;
        background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;

        * {
            color: white;
            margin: 0;
        }

        .page-card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
            padding: 0px 8px;

            .active,
            .inactive {
                border: 1px solid;
                padding: 8px;
            }

            .active {
                color: rgb(25, 202, 25);
                border-color: rgb(25, 202, 25);
            }

            .inactive {
                color: rgb(249, 51, 51);
                border-color: rgb(249, 51, 51);
            }
        }

    }
}