.capsules-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

    .capsule-card {
        width: 60%;
        padding: 16px;
        background-color: rgb(23, 23, 23);
        transition-duration: 0.2s;
        h1,
        h3 {
            color: white;
        }

        &:hover {
            background-color: rgb(28, 28, 28);
        }
    }
}