.crew-page {
    background-color: #000000;
    opacity: 1;
    background: linear-gradient(135deg, #19191955 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #191919 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #19191955 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #191919 25%, #000000 25%) 0px 0/ 80px 80px;
    flex-grow: 1;
    .crew-wrapper {
        display: flex;
        gap: 32px;
        margin-top: 16px;
        flex-wrap: wrap;
        justify-content: center;


        .crew-card {
            display: flex;
            flex-direction: column;
            border: 1px solid white;
            background-color: #000000;
            opacity: 1;
            background-image: linear-gradient(135deg, #111111 25%, transparent 25%), linear-gradient(225deg, #111111 25%, transparent 25%), linear-gradient(45deg, #111111 25%, transparent 25%), linear-gradient(315deg, #111111 25%, #000000 25%);
            background-position: 40px 0, 40px 0, 0 0, 0 0;
            background-size: 80px 80px;
            background-repeat: repeat;

            h4 {
                color: white;
                flex-grow: 1;
            }
        }


        .crew-card-skeleton {
            height: 443.59px;
            width: 258px;
            border: 1px solid white;
        }
    }
}